<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.algerfan.springboot.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="cn.algerfan.springboot.domain.User" >
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List" >
        id, name, password
    </sql>
	
	<select id="findByName" parameterType="string" resultMap="BaseResultMap">
	SELECT
	<include refid="Base_Column_List" />
	from user
	where name = #{name}
	</select>

</mapper>